.selection,
.return {
  display: flex;
  align-items: center;
  border-radius: 2px;
  font-size: 2vw;
  height: 10vh;
  background-color: rgba(48, 48, 48, 0.5);
  color: rgb(255, 255, 255);
  /* background-size: 150%;
  background-position: right; */
  transition: 255ms;
  border: 2px solid rgba(64, 64, 64, 0);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  border-bottom: rgb(255, 255, 255);
  transition: 300ms;
}
.selection {
  justify-content: start;
  padding: 0 2vw 0 3vw;
  min-height: 3vmin;
  min-width: 90%;
  max-width: 90%;
}
.main_button {
  min-width: 100%;
  max-width: 100%;
}

.selection:hover,
.return:hover {
  background-position: center;
  border: 2px solid rgba(128, 128, 128, 0.5);
  background-color: rgba(64, 64, 64, 0.5);
  color: rgb(255, 255, 255);
}
.selection:hover {
  padding: 0 0 0 4vw;
}

.selection:active {
  background-position: left;
}

.selection p {
  margin: 0;
}
.return {
  justify-content: center;
}

/* border: 2px solid rgba(255, 255, 255, 0.1); */
